<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.koreait.SpringMVC_Mybatis.mapper.EmployeeInquiry">
	<select id="employeeInquiryBySabun" parameterType="String" resultType="kr.koreait.SpringMVC_Mybatis.vo.EmployeeVO">
		select sabun,
		join_day,
		retire_day,
		put_yn,
		name,
		reg_no,
		eng_name,
		phone,
		hp,
		carrier,
		pos_gbn_code,
		cmp_reg_no,
		cmp_reg_image,
		sex,
		years,
		email,
		zip,
		addr1,
		addr2,
		dept_code,
		wokringstatus,
		id,
		pwd,
		salary,
		kosa_reg_yn,
		kosa_class_code,
		mil_yn,
		mil_type,
		mil_level,
		mil_startdate,
		mil_enddate,
		job_type,
		gart_level,
		self_intro,
		crm_name
		from insa where sabun = #{sabun} order by sabun
	</select>
</mapper>