<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.koreait.SpringMVC_Mybatis.mapper.EmployeeInfo">
	
	<select id="getEmail" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'email'
	</select>
	
	<select id="getJob_type" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'job_type'
	</select>
	
	<select id="getSex" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'sex'
	</select>
	
	<select id="getPos_gbn_code" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'pos_gbn_code'
	</select>
	
	<select id="getDept_code" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'dept_code'
	</select>
	
	<select id="getJoin_gbn_code" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'join_gbn_code'
	</select>
	
	<select id="getGart_level" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'gart_level'
	</select>
	
	<select id="getPut_yn" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'put_yn'
	</select>
	
	<select id="getMil_yn" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'mil_yn'
	</select>
	
	<select id="getMil_type" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'mil_type'
	</select>
	
	<select id="getMil_level" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'mil_level'
	</select>
	
	<select id="getKosa_reg_yn" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'kosa_reg_yn'
	</select>
	
	<select id="getKosa_class_code" resultType="hashmap">
		select gubun, code, name, note from insa_com where gubun = 'kosa_class_code'
	</select>

	<select id="getSabun" resultType="String">
		select NVL(MAX(sabun),0)+1 from insa
	</select>
	
	<insert id="setRegistration" parameterType="kr.koreait.SpringMVC_Mybatis.vo.EmployeeVO">
		insert into insa values (
			sabun_seq.nextval,
			#{convertJoin_day},
			#{convertRetire_day},
			#{put_yn},
			#{name},
			#{reg_no},
			#{eng_name},
			#{phone},
			#{hp},
			#{carrier},
			#{pos_gbn_code},
			#{cmp_reg_no},
			#{cmp_reg_image},
			#{sex},
			#{years},
			#{email},
			#{zip},
			#{addr1},
			#{addr2},
			#{dept_code},
			#{join_gbn_code},
			#{id},
			#{pwd},
			#{salary},
			#{kosa_reg_yn},
			#{kosa_class_code},
			#{mil_yn},
			#{mil_type},
			#{mil_level},
			#{mil_startdate},
			#{mil_enddate},
			#{job_type},
			#{gart_level},
			#{self_intro},
			#{crm_name},
			#{human_image}
		)
	</insert>
</mapper>